@{
    ViewData["Title"] = "Respuesta";
}
@if(ViewBag.Correcta == true)
{
    <div class="container" style="width:1300px;">
        <div class="row">
            <div class="col bg-white">
                    <br/>
    <center><img src ="https://c.tenor.com/BntXpMlrGuEAAAAC/check-correct.gif" heigth ="150px"><img src = "https://us.123rf.com/450wm/carmenbobo/carmenbobo1412/carmenbobo141200640/34664405-sello-de-goma-con-la-palabra-correcta-en-el-interior-ilustraci%C3%B3n-vectorial.jpg"> <img src ="https://c.tenor.com/BntXpMlrGuEAAAAC/check-correct.gif" heigth ="150px"></center><br/>
    <center><a class="btn btn-success" href='@Url.Action("Jugar","Home")'>Siguiente</a></center><br/>
    <center><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhvXrNoC2ckevVg9EnFI7UTrYxtL5z-8NabnVWO8X1f7MteeAZFUqi23Qy7vQhLLmDCac&usqp=CAU" heigth ="500px"></center>
            </div>  
        </div> 
    </div>                
    
}
else if(ViewBag.Correcta == false)
{
    <div class="container" style="width:1300px;">
        <div class="row">
            <div class="col bg-white">
                    <center><img src = "https://em-content.zobj.net/source/animated-noto-color-emoji/356/cross-mark_274c.gif" height="200px"><img src = "https://us.123rf.com/450wm/lkeskinen/lkeskinen1802/lkeskinen180208734/95926489-incorrect-typographic-stamp-typographic-sign-badge-or-icon.jpg" height="200px"><img src = "https://em-content.zobj.net/source/animated-noto-color-emoji/356/cross-mark_274c.gif" height="200px"></center><br/>
    <center><a class="btn btn-danger" href='@Url.Action("Jugar","Home")'>Siguiente</a></center><br/>
    <center><img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh0XINRsYG1rVPTDn_AsxbvEMAu2tjOEQ_4A&usqp=CAU" heigth ="200 px"></center> 
            </div>
        </div>
    </div>                

    
}
