html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body{
  background-size:cover;
  background-image: url("https://i.pinimg.com/1200x/49/bb/34/49bb346fc91e2524b430c1702e3fd081.jpg");
}
footer{
  background-color: white;
}
table {
  border-color:black;
	height: 30px;
}